* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: white;
  background-color: #1a97da;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  flex-basis: 100%;
}

.column-third {
  flex-basis: calc(100%/3);
}

h2,
h3,
p,
img {
  width: 100%;
  text-align: center;
  justify-content: center;
}

.header {
  margin-top: 50px;
}

.circle {
  background-color: white;
  border-radius: 50%;
  margin-right: 70px;
  margin-left: 70px;
  margin-block-start: 15px;
  margin-block-end: 15px;
  display: flex;
}

.picture {
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

h3 {
  font-size: 18px;
  line-height: 2px;
}

p {
  color: #a2cee5;
  line-height: 20px;
  font-size: 13px;
  padding-left: 4px;
  padding-right: 4px;
}
