main {
  width: 400px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: "Brandon Grotesque", sans-serif;
  text-transform: uppercase;
  font-size: small;
  color: #ec5d58;
  font-weight: 425;
  letter-spacing: 0.05em;
  margin-block-end: 0;
}

fieldset {
  border: none;
}

input,
select {
  margin: 5px;
  padding: 0.5em;
  width: 27em;
  height: 2.75em;
  border: 1px;
  border-color: rgb(214 211 211);
  border-style: solid;
  border-radius: 5px;
  font-family: AtlasGrotesk, sans-serif;
}

input {
  margin-block-start: 1px;
}

label {
  padding-left: 1.5em;
  text-align: left;
  font-family: "Brandon Grotesque", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 500;
}

button {
  background-color: #ec5d58;
  color: white;
  border: none;
  border-radius: 18px;
  padding: 0.4em;
  width: 5.6em;
  text-align: center;
  margin-left: 21.5em;
}

select {
  background-color: #f3f3f3;
  color: black;
  font-size: 11px;
  width: 32.7em;
  height: 3.6em;
}

input::placeholder {
  color: #a7a7a7;
}
