* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  border: black solid 3px;
  width: 700px;
  height: 400px;
  display: flex;
  justify-content: center;
  position: relative;
}

.column-25 {
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-50 {
  flex-basis: 50%;
}

.column-full {
  position: absolute;
  bottom: 20px;
}

img {
  width: 350px;
  height: auto 0;
}

.fa-solid {
  font-size: 30px;
}

button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 3px;
  border-color: black;
  background-color: white;
}

.display {
  background-color: black;
}

button:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
